<h1><%= @song.name %></h1>
<%= @song.artist_id %>
<%= @song.genre_id %>
<% artist = Artist.find(@song.artist_id) %>
<%= link_to "#{artist.name}", artist_path(artist) %>
<% genre = Genre.find(@song.genre_id) %>
<%= link_to "#{genre.name}", genre_path(genre) %>
